@import '../../utils/colors.scss';

.tooltipContainer {
    position: absolute;
    top: 100px;
    left: calc(50% - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 200px;
    padding: 7px 10px;
    background: $green;
    border-radius: 0px;
    box-shadow: 0px 3px 10px 3px rgba($black, 0.2);
    overflow: hidden;
    .tooltip {
        &_title {
            color: $white;
        }
    }
}
.example-enter {
    opacity: 0;
    transform:translateY(-100%);
}
.example-enter-active {
    opacity: 1;
    transform:translateY(0);
    transition: opacity 350ms, transform 350ms;
}
.example-exit {
    opacity: 1;
    transform:translateY(0);
}
.example-exit-active {
    opacity: 0;
    transform:translateY(-100%);
    transition: opacity 350ms, transform 350ms;
}