.modalWrapper {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100vh;
  background: rgba(5, 5, 5, 0.4);
}

.modalWrapper .modalContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 600px;
  width: 600px;
  background: #FCFCFC;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(5, 5, 5, 0.2);
          box-shadow: 0px 0px 15px 0px rgba(5, 5, 5, 0.2);
}

.modalWrapper .modalContainer .modal_title {
  margin-bottom: 30px;
}

.modalWrapper .modalContainer .modal_userData {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 350px;
  margin-bottom: 20px;
}

.modalWrapper .modalContainer .modal_userData * {
  margin-bottom: 10px;
  width: 100%;
}

.modalWrapper .modalContainer .modal_userData *:last-child {
  margin-bottom: 0;
}
