$black: #050505;
$light-black: #262626;
$checkbox :#adb5bd;
$gray: rgb(245, 245, 245);
$dark-gray: rgb(233, 233, 233);
$white: #FCFCFC;
$fff: #FFF;
$primary: #255C99;
$dark-primary: #264F7D;
$light-primary: #3C6EA6;
$green: #47A025;
$dark-green: #058C42;
$red: #E9190F;
$dark-red: #6B0504;
$brown: #815E5B;
$cordovan: #984447;
