@import '../../utils/colors.scss';

.createCertificate {
    &_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 500px;
        padding: 10px 0;
    }
    &__data {
        max-height: 350px;
        width: 100%;
        max-width: 350px;
        overflow-y: scroll;
        & button {
            width: 100%;
        }
        & * {
            width: 100%;
            margin-bottom: 10px;
        }
    }
    &__title {
        margin-bottom: 30px;
    }
    &_imgPreview {
        display: block;
        img {
            height: 300px;
            width: 200px;
            object-fit: cover;
        }
    }
}
.modalWrapper {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: rgba($black, 0.4);
    .modalContainer {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 600px;
        width: 600px;
        background: $white;
        border-radius: 10px;
        box-shadow: 0px 0px 15px 0px rgba($black, 0.2);
    }
}