@import '../../../utils/colors.scss';

.modalWrapper {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: rgba($black, 0.4);
    .modalContainer {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 600px;
        width: 600px;
        background: $white;
        border-radius: 10px;
        box-shadow: 0px 0px 15px 0px rgba($black, 0.2);
        .buttonClose {
            border-radius: 0 10px 0 0;
            &__container {
                position: absolute;
                top: 0px;
                right: 0px;
            }
            &:hover {
                cursor: pointer;
                background-color: rgba($black, 0.1);
            }
        }
    }
}

.certificate {
    &__img {
        display: block;
        width: 160px;
        height: 200px;
        margin: 5px 0;
        box-shadow: 0px 0px 7px 0px rgba($black, 0.5);
        color: $primary;
        cursor: pointer;
        object-fit: cover;
        &:last-child {
            margin-right: 0;
        }
    }
}
.description {
    display: flex;
    flex-direction: column;
    min-height: 30px;
    width: 80%;
    overflow-x:hidden;
    &__title {
        display: flex;
        justify-content: center;
        padding: 5px 15px;
    }
}
.info {
    display: grid;
    margin-top: 10px;
    min-height: 30px;
    width: 80%;
    &__title {
        color: rgba($black, 0.8);
    }
    &__text {

    }
}