@import '../../utils/colors.scss';

.searchResult {
    width: 100%;
    height: auto;
    background: $fff;
    margin-bottom: 20px;
    padding: 10px;
    box-shadow: 0px 0px 7px 0px rgba($black, 0.2);
    .userInfo {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: $primary;
        .userImg {
            display: block;
            width: 70px;
            height: 70px;
            box-shadow: 0px 0px 7px 0px rgba($black, 0.5);
            object-fit: cover;
        }
        .userName, .userLocation {
            margin-left: 15px;
        }
    }
    .userCertificates {
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        .certificate {
            display: block;
            width: 80px;
            height: 100px;
            margin: 5px 0;
            margin-right: 15px;
            box-shadow: 0px 0px 7px 0px rgba($black, 0.5);
            color: $primary;
            cursor: pointer;
            &:last-child {
                margin-right: 0;
            }
            .certificateImg {
                display: block;
                width: 80px;
                height: 100px;
                object-fit: cover;
            }
        }
    }
}