@import '../../utils/colors.scss';

.certificate {
    display: grid;
    width: 160px;
    &__img {
        display: block;
        width: 160px;
        height: 200px;
        margin: 5px 0;
        margin-right: 15px;
        box-shadow: 0px 0px 7px 0px rgba($black, 0.5);
        color: $primary;
        cursor: pointer;
        object-fit: cover;
        &:last-child {
            margin-right: 0px;
        }
    }
}
.description {
    display: block;
    min-height: 30px;
    overflow-x:hidden;
    &__title {
        white-space: pre;
    }
}
.info {
    display: block;
    min-height: 30px;
    &__title {
        color: rgba($black, 0.8);
    }
    &__text {

    }
}