.bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
  width: 100%;
  background: #FCFCFC;
}

.bar .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  width: 100%;
  max-width: 1450px;
  background: #FCFCFC;
}

.bar .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 0 30px;
}

.bar .left .logo {
  height: 35px;
  width: 35px;
  background: blue;
  border-radius: 50%;
}

.bar .left .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 0 20px;
}

.bar .left .links .link {
  color: #050505;
  text-decoration: none;
  -webkit-text-decoration-style: none;
          text-decoration-style: none;
  margin: 0 20px 0 0;
}

.bar .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  margin: 0 30px 0 0;
}

.bar .right .user_logout {
  background: transparent;
  border: 0;
  margin: 0 10px 0 20px;
}

.bar .right .userInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 200px;
  background: transparent;
}

.bar .right .userInfo:hover {
  background: whitesmoke;
}

.bar .right .user_name {
  margin-right: 10px;
}

.bar .right .user_image {
  display: block;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.bar .right .userMenu {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 50px;
  right: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: auto;
  width: auto;
  background: #FCFCFC;
  border-radius: 0 0 10px 10px;
  padding: 10px 0;
  -webkit-box-shadow: 0px 15px 15px 0px rgba(5, 5, 5, 0.2);
          box-shadow: 0px 15px 15px 0px rgba(5, 5, 5, 0.2);
}

.bar .right .userMenu .userMenu_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  padding: 5px;
  background: #FCFCFC;
}

.bar .right .userMenu .userMenu_button:hover {
  background: whitesmoke;
}

.bar .right .userMenu .userMenu_button:active {
  background: #e9e9e9;
}

.bar .right .authBtn {
  background: transparent;
  border: 0;
  margin: 0 0 0 20px;
}
