@import '../utils/colors.scss';

.userProfile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background: $light-primary;
    &_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 1450px;
        height: 100%;
        background: $white;
        .profileData {
            display: flex;
            width: 100%;
            max-width: 1200px;
            margin-top: 20px;
            padding: 20px;
            border: 1px solid $black;
            &_info {
                display: flex;
                flex-direction: column;
                width: 100%;
                margin: 0 10px;
            }
            .profileItem {
                display: grid;
                grid-template-columns: 30% 70%;
                border-top: 1px solid $dark-gray;
                padding: 8px 15px;
                background: $white;
                &:last-child {
                    border-bottom: 1px solid $gray;
                }
                &_column {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
            }
            &_image {
                margin: 0 10px;
            }
            .userImage {
                display: block;
                width: 200px;
                height: 320px;
                object-fit: cover;
            }
        }
        .profileCertificates {
            display: flex;
            flex-wrap: wrap;
            justify-content: left;
            align-items: center;
            // display: grid;
            // grid-template-columns: repeat(6, 200px);
            border: 1px solid $primary;
        }
    }
}