@import '../utils/colors.scss';

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background: $fff;
    .searchBox {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 80px;
        width: 100%;
        background: $light-primary;
        .searchBox_content {
            display: flex;
            align-items: center;
            justify-content: start;
            width: 100%;
            max-width: 1400px;
            margin: 0 30px;
            input {
                width: 100%;
                max-width: 500px;
                margin-right: 10px;
            }
        }
    }
    .mainBox {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        background: $white;
        .mainBox_stats {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: start;
            height: 50px;
            width: 100%;
            max-width: 1400px;
            margin: 0 30px;
            padding: 10px;
            .searchData {
                margin: 0 30px;
            }
        }
        .mainBox_content {
            display: flex;
            width: 100%;
            max-width: 1400px;
            margin: 0px 30px;
            background: transparent;
            .mainBox_filter {
                display: flex;
                flex-direction: column;
                min-width: 300px;
                margin: 0px 20px 20px 30px;
                background: $white;
                border-right: 1px solid rgba($black, 0.2);
                color: $black;
            }
            .mainBox_searchResults {
                margin: 0px 30px 20px 20px;
                background: transparent;
                width: 100%;
                .searchResult {
                    width: 100%;
                    height: 200px;
                    background: $fff;
                    margin-bottom: 20px;
                    padding: 10px;
                    box-shadow: 0px 0px 7px 0px rgba($black, 0.2);
                    .userInfo {
                        display: flex;
                        align-items: center;
                        .userImg {
                            width: 60px;
                            height: 60px;
                            border: 1px solid black;
                        }
                        .userName {
                            margin-left: 10px;
                            color: $primary;
                        }
                    }
                }
            }
        }
    }
}